body {
    background-color: black;
    color: lightblue;
  }

h1{
  text-align: center;
}

#tutorial {
	color: purple;
}

#container {
  left: 200px;
  top: 200px;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: blue;
}

#player {
  width: 24px;
  height: 32px;
  position: relative;
  left: 0px;
  top: 0px;
  background: url("/asset/resaWalksprites.png") no-repeat -24px -64px;
}

#test{
  left: 400px;
}

.collision{
  left: 0px;
  top: 0px;
	height: 100px;
	width: 100px;
	background-color: mediumvioletred;
	position: relative;
	z-index: -1;
}
