body{
    background-color: rgb(235, 90, 90);
}

img{
    visibility: hidden;
}

#screen{
    position: absolute;
    border: 2px dotted black;
    background-color: gray;
    z-index: 0;
}

#room{
    position: absolute;
    left: 100px;
    top: 20px;
    border: 2px dotted rgb(161, 22, 22);
    background-color: rgb(19, 18, 18);
    z-index: 6;
    visibility: hidden;
}

#cutscene{
    position: absolute;
    left: 50px;
    top: 30px;
    border: 2px dotted rgb(94, 168, 34);
    background-color: rgb(19, 18, 18);
    z-index: 7;
    visibility: hidden;
}

#minimap{
    left: 30px; /*WHATEVER YOU DO, DO NOT SET CANVAS SIZE IN CSS!*/
    top: 450px;
    position: absolute;
    border: 2px dotted black;
    background-color: rgb(53, 50, 50);
    z-index: 1;
}

#text{
    left: 400px;
    top: 520px;
    position: absolute;
    border: 2px dotted black;
    background-color: rgb(177, 167, 167);
    z-index: 2;
}

#stats{
    left: 650px;
    width:350px;
    height: 450px;
    border: 2px dashed red;
    background-color: gray;
    position:absolute;
    z-index: 3;
}

#buttons{
    width: 350px;
    height: 20px;
}


#worldmap{
    border: 2px dotted black;
    left: 100px;
    top: 80px;
    visibility: hidden;
    position: absolute;
    background-color: rgb(19, 18, 18);
    z-index: 5;
}

#equips{
    position: absolute;
    left: 1010px;
    top: 10px;
    background-color: black;
}

.party{
    width: 200px;
    height: 350px;
    background-color: orange;
    border: 2px dotted rgb(82, 8, 57);
}

.partyDisplay{
    float: left;
    background-color: blue;
}