body{
    background-color: rgb(235, 90, 90);
    padding:0;
    margin:0;
}

p{
    padding:0;
    margin:0;
}

#screen{
    position: absolute;
    border: 2px dotted black;
    background-color: gray;
    z-index: 0;
}

#room{
    position: absolute;
    left: 100px;
    top: 20px;
    border: 2px dotted rgb(161, 22, 22);
    background-color: rgb(19, 18, 18);
    z-index: 6;
    visibility: hidden;
}

#cutscene{
    position: absolute;
    left: 50px;
    top: 30px;
    border: 2px dotted rgb(94, 168, 34);
    background-color: rgb(19, 18, 18);
    z-index: 7;
    visibility: hidden;
}

#minimap{
    left: 30px; /*WHATEVER YOU DO, DO NOT SET CANVAS SIZE IN CSS!*/
    top: 450px;
    position: absolute;
    border: 2px dotted black;
    background-color: rgb(53, 50, 50);
    z-index: 1;
}

#text{
    left: 400px;
    top: 520px;
    position: absolute;
    border: 2px dotted black;
    background-color: rgb(177, 167, 167);
    z-index: 2;
}

#stats{
    left: 650px;
    width:350px;
    height: 450px;
    border: 2px dashed red;
    background-color: gray;
    position:absolute;
    z-index: 3;
}

#buttons{
    width: 350px;
    height: 20px;
}


#worldmap{
    border: 2px dotted black;
    left: 100px;
    top: 80px;
    visibility: hidden;
    position: absolute;
    background-color: rgb(19, 18, 18);
    z-index: 5;
}

#equips{
    position: absolute;
    left: 1010px;
    top: 10px;
    background-color: black;
}

#testText{
    width:200px;
    height:300px;
    position:relative;
    background-color: blue;
    z-index: 200;
}

#ide{
    position:absolute;
    left:1000px;
    top:400px;
    width:500px;
    height:400px;
    background-color: rgb(78, 74, 74);
    border: 2px dotted green;
    z-index: 1000;
}

.hidden{
    visibility:hidden;
}

.party{
    width: 200px;
    height: 350px;
    background-color: orange;
    border: 2px dotted rgb(82, 8, 57);
}

.partyDisplay{
    float: left;
    background-color: blue;
}

.opacityAnimLess{
    animation-name: opacityLess;
    animation-duration: 2s;
}

.opacityAnimMore{
    animation-name: opacityMore;
    animation-duration: 2s;
}

@keyframes opacityLess {
    from {opacity: 1;}
    to {opacity: 0.5;}
}

@keyframes opacityMore {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

/*letter css info*/
.letter{
    position:relative;
    left:0px;
    top:0px;
    float:left;
    margin-bottom: 0px;
    display: flex;
    visibility: visible;
}
.space{
    width:100%;
    height:30px;
    display:inline;
}

/*letter effects*/
.shake{
    animation-name: shake;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.flash{
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}