body{
    background-color: rgb(36, 36, 36);
}

p{
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: black;
}

#art{
    border-radius: 15px;
    align-items: center;
    background-color: black;
}