body {
  margin:0;
  padding:0;
  color: black;
}

h1{
  text-align: center;
}

#tutorial {
	color: purple;
}

#background{
  position: absolute;
  left: 0px;
  top: 0px;
}

#container {
  left: 0px;
  top: 0px;
  position: absolute;
  background-repeat: no-repeat;
}

#player {
  width: 48px;
  height: 64px;
  z-index: 20;
  background: url("asset/resaWalksprites.png") no-repeat -48px -128px;
}

#npc1{
  width: 48px;
  height: 64px;
  z-index: 20;
  background: url("asset/resaTreeWalksprites.png") no-repeat -48px -128px; 
}

#theaterWarp{
  width: 64px;
  height: 64px;
  z-index: 20;
  background-image: url("asset/theater.png"); 
}

#museumWarp{
  width: 64px;
  height: 64px;
  z-index: 20;
  background-color:brown;
}

#gameWarp{
  width: 64px;
  height: 64px;
  z-index: 20;
  background-image: url("asset/games.png"); 
}

.collision{
	height: 100px;
	width: 100px;
	background-color: mediumvioletred;
	position: relative;
	z-index: -1;
}

.textbox{
  width: 200px;
  height: 100px;
  background-color: blueviolet;
  animation-name: floatUp;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes floatUp {
  from {top: -200px}
  to {top: -250px}
}